html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #4C4C4C;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  color: #545454;
}

h2 {
  font-size: 44px;
  line-height: 57px;
}

h3 {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.h5-modal-window {
  font-weight: 700;
}

.paragraph__S {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.button__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  width: max-content;
  transition: all 0.5s;
}
@media (hover: hover) {
  .button__primary:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__primary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.button__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  width: max-content;
  transition: all 0.5s;
}
@media (hover: hover) {
  .button__secondary:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__secondary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.button__float {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  width: max-content;
  transition: all 0.5s;
  width: 48px;
  height: 48px;
  padding: 0;
}
@media (hover: hover) {
  .button__float:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__float:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section__content__margin {
  margin: 80px auto 100px;
}

.header nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper .logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0 auto 10px;
}
.logo__wrapper .logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.list__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding: 16px 0 20px;
}
.list__menu li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 35px;
  margin-bottom: 0px;
}
.list__menu li:last-child {
  margin-right: 0px;
}

.menu__item a {
  color: #CDCDCD;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 3px;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .menu__item a:hover {
    color: #FAFAFA;
  }
}

.list__menu .active a {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.start__screen__wrapper {
  color: #FFFFFF;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  margin-top: -90px;
}

.start__screen__wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 180px;
}

.start__screen_content {
  text-align: left;
  flex-basis: 460px;
  padding-top: 163px;
  padding-right: 42px;
  padding-bottom: 243px;
}
.start__screen_content h2 {
  color: #FFFFFF;
}
.start__screen_content p {
  color: #CDCDCD;
  margin: 42px auto;
}

.about__section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__section .container img {
  order: -1;
  padding-right: 120px;
}

.about__content {
  text-align: left;
  flex-basis: 430px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.about__content p:first-of-type {
  margin: 25px 0;
}

.our__friends__section {
  background-color: #F6F6F6;
  padding: 80px 0px 100px;
}
.our__friends__section .button__primary {
  margin: 0 auto;
}

.slider__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.slider__wrapper .btn__prev {
  margin-right: 53px;
}
.slider__wrapper .btn__next {
  margin-left: 53px;
  transform: rotate(180deg);
}

.card__content {
  flex-basis: 270px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
  margin: 0px 45px;
}
.card__content:first-of-type {
  margin-left: 0px;
}
.card__content:last-of-type {
  margin-right: 0px;
}
.card__content img {
  border-radius: 9px 9px 0px 0px;
}
.card__content h4 {
  margin: 30px auto;
}
@media (hover: hover) {
  .card__content:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .card__content:hover .button__secondary {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.help__section h3 {
  margin-bottom: 60px;
}
.help__section .help__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
  gap: 55px 120px;
}
.help__section .help__list li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.help__section .help__list li:last-child {
  margin-right: 0px;
}
.help__section .help__list__item h4 {
  margin-top: 23px;
}

.donation__section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 80px 0px 100px;
}
.donation__section img {
  order: -1;
  margin-right: 30px;
}

.donation__content {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  width: 380px;
  text-align: left;
}
.donation__content h4 {
  background-color: #F1CDB3;
  width: max-content;
  border-radius: 9px;
  padding: 10px 15px;
}
@media (hover: hover) {
  .donation__content h4:hover {
    background-color: #FDDCC4;
  }
}
.donation__content img {
  vertical-align: text-top;
  margin-right: 10px;
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 40px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer .container div {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  padding-top: 16px;
}
.footer .container div:last-of-type {
  row-gap: 33px;
  margin-left: -6px;
}
.footer a {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.footer h3 {
  color: #FFFFFF;
}
.footer h4 {
  color: #F1CDB3;
}

.pets__page {
  background-color: #FFFFFF;
  padding: 30px 0px;
}
.pets__page nav {
  padding-top: 0px;
}
.pets__page nav .logo__title,
.pets__page nav .menu__item a {
  color: #545454;
}
.pets__page nav .logo__subtitle,
.pets__page nav .active a {
  color: #292929;
}

.pets__section {
  background-color: #F6F6F6;
  padding: 80px 0px 100px;
}
.pets__section h3 {
  margin-bottom: 60px;
}
.pets__section .slider__wrapper {
  gap: 30px 40px;
  margin: 45px 0px;
}
.pets__section .card__content {
  margin: 0;
}
.pets__section .slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-top: 60px;
}
.pets__section .slider__pagination .inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.pets__section .slider__pagination .inactive h4 {
  color: #CDCDCD;
}
@media (hover: hover) {
  .pets__section .slider__pagination .inactive {
    cursor: default;
    background-color: inherit;
  }
}
.pets__section .slider__pagination .active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}
@media (hover: hover) {
  .pets__section .slider__pagination .active:hover {
    cursor: default;
  }
}