html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: center;
  color: #4C4C4C;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0rem;
}

h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  color: #545454;
}

h2 {
  font-size: 4.4rem;
  line-height: 5.7rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
}

.h5-modal-window {
  font-weight: 700;
}

.paragraph__S {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}

.button__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  width: max-content;
  transition: all 0.5s;
}
@media (hover: hover) {
  .button__primary:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__primary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.button__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  width: max-content;
  transition: all 0.5s;
}
@media (hover: hover) {
  .button__secondary:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__secondary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.button__float {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  width: max-content;
  transition: all 0.5s;
  width: 48px;
  height: 48px;
  padding: 0;
}
@media (hover: hover) {
  .button__float:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__float:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.container {
  max-width: 120rem;
  margin: 0rem auto;
}

.section__content__margin {
  margin: 8rem auto 10rem;
}

.header nav {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper .logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0rem auto 1rem;
}
.logo__wrapper .logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.list__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding: 1.6rem 0rem 2rem;
}
.list__menu li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 3.5rem;
  margin-bottom: 0px;
}
.list__menu li:last-child {
  margin-right: 0px;
}

.menu__item a {
  color: #CDCDCD;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding-bottom: 0.3rem;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .menu__item a:hover {
    color: #FAFAFA;
  }
}

.list__menu .active a {
  color: #FAFAFA;
  border-bottom: 0.3rem solid #F1CDB3;
}

.start__screen__wrapper {
  color: #FFFFFF;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  margin-top: -9rem;
}

.start__screen__wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18rem;
}

.start__screen_content {
  text-align: left;
  flex-basis: 46rem;
  padding-top: 16.3rem;
  padding-right: 4.2rem;
  padding-bottom: 24.3rem;
}
.start__screen_content h2 {
  color: #FFFFFF;
}
.start__screen_content p {
  color: #CDCDCD;
  margin: 4.2rem auto;
}

.about__section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__section .container img {
  order: -1;
  padding-right: 12rem;
}

.about__content {
  text-align: left;
  flex-basis: 43rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.about__content p:first-of-type {
  margin: 2.5rem 0rem;
}

.our__friends__section {
  background-color: #F6F6F6;
  padding: 8rem 0rem 10rem;
}
.our__friends__section .button__primary {
  margin: 0rem auto;
}

.slider__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.slider__wrapper .btn__prev {
  margin-right: 5.3rem;
}
.slider__wrapper .btn__next {
  margin-left: 5.3rem;
  transform: rotate(180deg);
}

.card__content {
  flex-basis: 27rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  margin: 0rem 4.5rem;
}
.card__content:first-of-type {
  margin-left: 0rem;
}
.card__content:last-of-type {
  margin-right: 0rem;
}
.card__content img {
  border-radius: 0.9rem 0.9rem 0rem 0rem;
}
.card__content h4 {
  margin: 3rem auto;
}
@media (hover: hover) {
  .card__content:hover {
    background-color: #FFFFFF;
    box-shadow: 0rem 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
  }
  .card__content:hover .button__secondary {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.help__section h3 {
  margin-bottom: 6rem;
}
.help__section .help__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5.5rem 12rem;
}
.help__section .help__list li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
}
.help__section .help__list li:last-child {
  margin-right: 0px;
}
.help__section .help__list__item h4 {
  margin-top: 2.3rem;
}

.donation__section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 8rem 0rem 10rem;
}
.donation__section img {
  order: -1;
  margin-right: 3rem;
}

.donation__content {
  display: flex;
  flex-direction: column;
  gap: 2rem 0rem;
  width: 38rem;
  text-align: left;
}
.donation__content h4 {
  background-color: #F1CDB3;
  width: max-content;
  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
}
@media (hover: hover) {
  .donation__content h4:hover {
    background-color: #FDDCC4;
  }
}
.donation__content img {
  vertical-align: text-top;
  margin-right: 1rem;
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 4rem;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer .container div {
  display: flex;
  flex-flow: column wrap;
  row-gap: 4rem;
  padding-top: 1.6rem;
}
.footer .container div:last-of-type {
  row-gap: 3.3rem;
  margin-left: -0.6rem;
}
.footer a {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.footer h3 {
  color: #FFFFFF;
}
.footer h4 {
  color: #F1CDB3;
}

.pets__page {
  background-color: #FFFFFF;
  padding: 3rem 0rem;
}
.pets__page nav {
  padding-top: 0rem;
}
.pets__page nav .logo__title,
.pets__page nav .menu__item a {
  color: #545454;
}
.pets__page nav .logo__subtitle,
.pets__page nav .active a {
  color: #292929;
}

.pets__section {
  background-color: #F6F6F6;
  padding: 8rem 0rem 10rem;
}
.pets__section h3 {
  margin-bottom: 6rem;
}
.pets__section .slider__wrapper {
  gap: 3rem 4rem;
  margin: 4.5rem 0rem;
}
.pets__section .card__content {
  margin: 0rem;
}
.pets__section .slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-top: 6rem;
}
.pets__section .slider__pagination .inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.pets__section .slider__pagination .inactive h4 {
  color: #CDCDCD;
}
@media (hover: hover) {
  .pets__section .slider__pagination .inactive {
    cursor: default;
    background-color: inherit;
  }
}
.pets__section .slider__pagination .active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}
@media (hover: hover) {
  .pets__section .slider__pagination .active:hover {
    cursor: default;
  }
}