//FONTS
$font-family-georgia: Georgia, 'Times New Roman', Times, serif;
$font-family-arial: Arial, Helvetica, sans-serif;

// COLOR
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

// MEDIA QUERIES
$breakpoints: (
	"mobile": 480px,
	"tablet": 768px,
	"desktop": 1024px
);

@mixin mobile-only {
	@media screen and (max-width: map-get($breakpoints, "mobile")) {
		@content;
	}
}

@mixin tablet-only {
	@media screen and (max-width: map-get($breakpoints, "tablet")) {
		@content;
	}
}

// OTHERS
$border-primary: 2px solid $color-primary;
$background-primary: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

// LIST
@mixin reset-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0px;
  padding: 0px;
  list-style: none;
}

@mixin horizontal-list($margin-x: 35px) {
  @include reset-list;

  li {
    // display: inline-block;
    margin: {
			top: 0px;
      left: 0px;
      right: $margin-x;
			bottom: 0px;
    }
		&:last-child {
			margin-right: 0px;
		}
  }
}

// BUTTON
@mixin button($color: $color-dark-3xl, $bg_color: transparent, $border: none) {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family-georgia;
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.06em;
  text-decoration: none;
	color: $color;
	background-color: $bg_color;
	border-radius: 100px;
	@if ($border == none) {
		border: none;
		padding: 15px 45px;
	} @else {
		border: $border;
		padding: 13px 43px;
	}
	// margin: 0 auto;
	width: max-content;
	transition: all 0.5s;
	@media (hover: hover) {
		&:hover {
			cursor: pointer;
		}
	}
}

@mixin button-primary {
	@include button($bg_color: $color-primary);
	@media (hover: hover) {
		&:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
		}
	}
}

@mixin button-secondary {
	@include button($border: $border-primary);
	@media (hover: hover) {
		&:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
		}
	}
}

@mixin button-float {
	@include button($border: $border-primary);
	width: 48px;
	height: 48px;
	padding: 0;
	@media (hover: hover) {
		&:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
		}
	}
}
