//FONTS
$font-family-georgia: Georgia, 'Times New Roman', Times, serif;
$font-family-arial: Arial, Helvetica, sans-serif;

// COLOR
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;



// LIST
@mixin reset-list {
	margin: 0px;
  padding: 0px;
  list-style: none;
}

@mixin horizontal-list($margin-x: 35px) {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
			top: 0px;
      left: 0px;
      right: $margin-x;
			bottom: 0px;
    }
		&:last-child {
			margin-right: 0px;
		}
  }
}

// OTHERS
$border-primary: 2px solid $color-primary;

// BUTTON
@mixin button($color: $color-dark-3xl, $bg_color: transparent, $border-color: transparent) {
	display: inline-block;
	font-family: $font-family-georgia;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.1px;
	letter-spacing: 0.06em;
	text-align: center;
  text-decoration: none;
	padding: 15px 45px;
	color: $color;
	background-color: $bg_color;
	border: 2px solid $border-color;
	border-radius: 100px;
	transition: all 0.5s;
	@media (hover: hover) {
		&:hover {
			cursor: pointer;
		}
	}
}

@mixin button-primary {
	@include button($bg_color: $color-primary, $border-color: $color-primary);
	@media (hover: hover) {
		&:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
		}
	}
}

@mixin button-secondary {
	@include button($border-color: $color-primary);
	@media (hover: hover) {
		&:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
		}
	}
}

@mixin button-float {
	@include button($border-color: $color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	padding: 0;
	@media (hover: hover) {
		&:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
		}
	}
}
