.pets__page .header {
	background-color: $color-light-xl;

	nav {
		padding-top: 3rem;
		padding-bottom: 3rem;

		.logo__title,
		.menu__item a {
			color: $color-dark-l;
		}

		.logo__subtitle,
		.active a {
			color: $color-dark-3xl;
		}
	}

	.burger-icon span {
		background-color: $color-dark-3xl;
	}
}



.pets__section {
	background-color: $color-light-l;
	padding-top: 8rem;
	padding-bottom: 10rem;

	@include media-tablet {
		padding-top: 6rem;
		padding-bottom: 7.6rem;

		h3 {
			padding-top: 2rem;
		}
	}

	@include media-mobile {
		padding-top: 4.2rem;
		padding-bottom: 4.2rem;
	}

	.slider__wrapper {
		flex-wrap: wrap;
		gap: 3rem 4rem;

		@include media-tablet {
			justify-content: center;
			height: 136.5rem;
			overflow: hidden;
			margin-top: 3rem;
			margin-bottom: 4rem;
		}

		@include media-mobile {
			height: 136.5rem;
			overflow: hidden;
			margin-top: 4.2rem;
			margin-bottom: 4.2rem;
		}
	}

	.slider__pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 2rem;

		@include media-mobile {
			column-gap: 1rem;
		}

		.inactive {
			color: $color-dark-s;
			border-color: $color-dark-s;
			h4 {
				color: $color-dark-s;
			}
			@media (hover: hover) {
				cursor: default;
				background-color: inherit;
			}
		}

		.active {
			background-color: $color-primary;
			border-color: $color-primary;

			@media (hover: hover) {
				&:hover {
					cursor: default;
				}
			}
		}
	}
}
