// START SCREEN SECTION
.start__screen__wrapper {
	color: $color-light-xl;
	background: $background-primary;
	margin-top: -9rem;
}

.start__screen__wrapper .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 18rem;

	@include media-tablet {
		flex-direction: column;
		padding-top: 15rem;

		img {
			width: 100%; //? Pas mal
			max-width: 56.9rem;
			align-self: flex-end;
			margin-top: 10rem;
		}
	}

	@include media-mobile {
		flex-direction: column;
		padding-top: 15rem;

		img {
			max-width: 26rem;
			align-self: flex-end;
			margin-top: 10.5rem;
		}
	}
}

.start__screen_content {
	text-align: left;
	flex-basis: 46rem;
	padding-top: 16.3rem;
	padding-right: 4.2rem;
	padding-bottom: 24.3rem;
	h2 {
		color: $color-light-xl;
	}
	p {
		color: $color-dark-s;
		margin: 4.2rem auto;
	}
	.button__primary {
		margin-left: 0;
	}

	@include media-tablet {
		flex-basis: auto;
		margin: 0rem 6.9rem 0rem 7rem;
		padding: 0rem 5.4rem 0rem 5.5rem;
		.button__primary {
			margin: 0 auto;
		}
	}

	@include media-mobile {
		flex-basis: auto;
		text-align: center;
		padding: 0rem;
		.button__primary {
			margin: 0 auto;
		}
	}
}
