@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: center;
  color: #4C4C4C;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0rem;
}

h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  color: #545454;
}

h2 {
  font-size: 4.4rem;
  line-height: 5.7rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 480px) {
  h5 {
    line-height: 2.4rem;
    letter-spacing: 0em;
  }
}

.h5-modal-window {
  font-weight: 700;
}

.paragraph__S {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}

.button__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}
@media (hover: hover) {
  .button__primary:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__primary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.button__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}
@media (hover: hover) {
  .button__secondary:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__secondary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.button__float {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  width: 48px;
  height: 48px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
@media (hover: hover) {
  .button__float:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .button__float:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.container {
  max-width: 128rem;
  margin: 0rem auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.section__content__margin__y {
  margin-top: 8rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 480px) {
  .section__content__margin__y {
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
  }
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
@media screen and (max-width: 480px) {
  .header nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -1000vw;
    transition: left 0.5s ease;
  }
}
.sidenav .active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Open btn */
#open-btn {
  display: none;
}
@media screen and (max-width: 767px) {
  #open-btn {
    display: inline-block;
  }
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #F1CDB3;
  margin: 0.8rem 0;
}

.logo__wrapper .logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0rem auto 1rem;
}
.logo__wrapper .logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding: 1.6rem 0rem 2rem;
}
.nav__menu li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 3.6rem;
  margin-bottom: 0px;
}
.nav__menu li:last-child {
  margin-right: 0px;
}

.nav__item a {
  color: #CDCDCD;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding-bottom: 0.3rem;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .nav__item a:hover {
    color: #FAFAFA;
  }
}

.nav__menu .active a {
  color: #FAFAFA;
  border-bottom: 0.3rem solid #F1CDB3;
}

.start__screen__wrapper {
  color: #FFFFFF;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  margin-top: -9rem;
}

.start__screen__wrapper .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .start__screen__wrapper .container {
    flex-direction: column;
    padding-top: 15rem;
  }
  .start__screen__wrapper .container img {
    width: 100%;
    max-width: 56.9rem;
    align-self: flex-end;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .start__screen__wrapper .container {
    flex-direction: column;
    padding-top: 15rem;
  }
  .start__screen__wrapper .container img {
    max-width: 26rem;
    align-self: flex-end;
    margin-top: 10.5rem;
  }
}

.start__screen_content {
  text-align: left;
  flex-basis: 46rem;
  padding-top: 16.3rem;
  padding-right: 4.2rem;
  padding-bottom: 24.3rem;
}
.start__screen_content h2 {
  color: #FFFFFF;
}
.start__screen_content p {
  color: #CDCDCD;
  margin: 4.2rem auto;
}
.start__screen_content .button__primary {
  margin-left: 0;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .start__screen_content {
    flex-basis: auto;
    margin: 0rem 6.9rem 0rem 7rem;
    padding: 0rem 5.4rem 0rem 5.5rem;
  }
  .start__screen_content .button__primary {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .start__screen_content {
    flex-basis: auto;
    text-align: center;
    padding: 0rem;
  }
  .start__screen_content .button__primary {
    margin: 0 auto;
  }
}

.about__section .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about__section .container img {
  order: -1;
  padding-right: 12rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .about__section .container {
    flex-direction: column;
    max-width: 43.7rem;
  }
  .about__section .container img {
    order: 0;
    padding-right: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .about__section .container {
    flex-direction: column;
  }
  .about__section .container img {
    order: 0;
    padding-right: 0rem;
    width: 100%;
    max-width: 26rem;
  }
}

.about__content {
  text-align: left;
  flex-basis: 43rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.about__content p:first-of-type {
  margin: 2.5rem 0rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .about__content {
    padding: 0rem 0.3rem 3rem 0.4rem;
  }
}
@media screen and (max-width: 480px) {
  .about__content {
    margin-bottom: 4.2rem;
    padding: 0rem;
    padding: 0rem 1.5rem;
    text-align: justify;
  }
  .about__content h3 {
    text-align: center;
  }
  .about__content p:first-of-type {
    margin: 2.5rem 0rem 2.2rem;
  }
}

.our__friends__section {
  background-color: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}
@media screen and (max-width: 480px) {
  .our__friends__section {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 480px) {
  .slider__wrapper {
    flex-wrap: wrap;
    width: 27rem;
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .slider__wrapper .button__float {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__wrapper .btn__prev {
    margin-left: 4.3rem;
    order: 1;
  }
}
.slider__wrapper .btn__next {
  transform: rotate(180deg);
}
@media screen and (max-width: 480px) {
  .slider__wrapper .btn__next {
    margin-right: 4.3rem;
    order: 1;
  }
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 9rem;
  justify-content: center;
  align-items: center;
  height: 43.5rem;
  overflow: hidden;
  width: 90%;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .cards__wrapper {
    column-gap: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .cards__wrapper {
    width: 100%;
  }
}

.card__content {
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
}
.card__content img {
  border-radius: 0.9rem 0.9rem 0rem 0rem;
}
.card__content h4 {
  margin: 3rem auto;
}
@media (hover: hover) {
  .card__content:hover {
    background-color: #FFFFFF;
    box-shadow: 0rem 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
  }
  .card__content:hover .button__secondary {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.help__section h3 {
  margin-bottom: 6rem;
}
@media screen and (max-width: 480px) {
  .help__section h3 {
    margin-bottom: 4.2rem;
  }
}
.help__section .help__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5.5rem 12rem;
}
.help__section .help__list li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
}
.help__section .help__list li:last-child {
  margin-right: 0px;
}
.help__section .help__list h4 {
  margin-top: 2.3rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .help__section .help__list {
    gap: 5.5rem 6rem;
  }
  .help__section .help__list .help__list__item {
    width: 17rem;
  }
}
@media screen and (max-width: 480px) {
  .help__section .help__list {
    gap: 3rem 3rem;
  }
  .help__section .help__list .help__list__item {
    width: 13rem;
  }
  .help__section .help__list .help__list__item h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-top: 1.3rem;
  }
  .help__section .help__list .help__list__item img {
    width: 5rem;
    height: 5rem;
  }
  .help__section .help__list .help__list__item:last-of-type {
    margin-right: auto;
  }
}

.donation__section .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.donation__section .container > img {
  order: -1;
  margin-right: 3rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .donation__section .container {
    flex-direction: column;
  }
  .donation__section .container img {
    order: 0;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .donation__section .container {
    flex-direction: column;
    padding: 4.2rem 2rem 4.18rem;
  }
  .donation__section .container > img {
    order: 0;
    margin-top: 4.2rem;
    margin-right: 0rem;
    width: 26rem;
  }
}

.donation__content {
  display: flex;
  flex-direction: column;
  gap: 2rem 0rem;
  width: 38rem;
  text-align: left;
}
.donation__content h4 {
  background-color: #F1CDB3;
  width: max-content;
  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
}
@media (hover: hover) {
  .donation__content h4:hover {
    background-color: #FDDCC4;
  }
}
.donation__content img {
  vertical-align: text-top;
  padding-right: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .donation__content {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .donation__content {
    width: auto;
  }
  .donation__content h3 {
    text-align: center;
  }
  .donation__content h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin: 0rem auto;
  }
  .donation__content p {
    text-align: justify;
  }
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 4rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding-top: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 3rem;
  }
}
.footer .container {
  display: flex;
  column-gap: 16rem;
  justify-content: space-between;
  text-align: left;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    gap: 6.5rem 6rem;
  }
  .footer .container > img {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .footer .container {
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
    text-align: center;
  }
  .footer .container > img {
    width: 26rem;
  }
}
.footer .container .infos {
  display: flex;
  column-gap: 16rem;
  justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer .container .infos {
    column-gap: 6rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .container .infos {
    flex-direction: column;
    row-gap: 4rem;
  }
}
.footer .container .infos .contacts, .footer .container .infos .address {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 1.6rem;
}
.footer .container .infos .contacts a, .footer .container .infos .address a {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
@media media-mobile {
  .footer .container .infos .contacts a, .footer .container .infos .address a {
    justify-content: center;
  }
}
.footer .container .infos .contacts h3, .footer .container .infos .address h3 {
  color: #FFFFFF;
}
.footer .container .infos .contacts h4, .footer .container .infos .address h4 {
  color: #F1CDB3;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer .container .infos .contacts, .footer .container .infos .address {
    padding-top: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .container .infos .contacts, .footer .container .infos .address {
    padding-top: 0rem;
    align-items: center;
  }
}
.footer .container .infos .contacts {
  row-gap: 4rem;
}
.footer .container .infos .address a:first-of-type {
  padding-top: 3.4rem;
  padding-bottom: 3.2rem;
}
@media screen and (max-width: 480px) {
  .footer .container .infos .address {
    row-gap: 4rem;
    max-width: 30rem;
  }
  .footer .container .infos .address h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer .container .infos .address h4 {
    text-align: left;
  }
  .footer .container .infos .address a {
    align-self: flex-start;
  }
}

.pets__page .header {
  background-color: #FFFFFF;
}
.pets__page .header nav {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pets__page .header nav .logo__title,
.pets__page .header nav .nav__item a {
  color: #545454;
}
.pets__page .header nav .logo__subtitle,
.pets__page .header nav .active a {
  color: #292929;
}
.pets__page .header .burger-icon span {
  background-color: #292929;
}

.pets__section {
  background-color: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pets__section {
    padding-top: 6rem;
    padding-bottom: 7.6rem;
  }
  .pets__section h3 {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .pets__section {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
}
.pets__section .slider__wrapper {
  flex-wrap: wrap;
  gap: 3rem 4rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pets__section .slider__wrapper {
    justify-content: center;
    height: 136.5rem;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .pets__section .slider__wrapper {
    height: 136.5rem;
    overflow: hidden;
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
  }
}
.pets__section .slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
@media screen and (max-width: 480px) {
  .pets__section .slider__pagination {
    column-gap: 1rem;
  }
}
.pets__section .slider__pagination .inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.pets__section .slider__pagination .inactive h4 {
  color: #CDCDCD;
}
@media (hover: hover) {
  .pets__section .slider__pagination .inactive {
    cursor: default;
    background-color: inherit;
  }
}
.pets__section .slider__pagination .active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}
@media (hover: hover) {
  .pets__section .slider__pagination .active:hover {
    cursor: default;
  }
}
